* {
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(#ced6e0, #57606f, #2f3542);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header h1 {
    color: #e63946;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px #f1faee;
    font-size: 2.5rem;
    margin: 1.5rem;
}

section {
    width: 25rem;
    height: 40rem;
    margin: 10px;
    background-color: #adb5bd;
    border-radius: 10px;
    box-shadow: 2px 2px 2px whitesmoke, -2px -2px 2px whitesmoke;
}

section .screen {
    width: inherit;
    height: 10rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    /* border: 1px solid black; */
}

section .screen > input {
    text-align: right;
    height: 4.5rem;
    width: 22rem;
    font-size: 2rem;
    margin: auto;
    display: flex;
    padding: 0rem 1rem;
    justify-content: right;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: monospace;
    border: none;
}

section .buttons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

section .buttons .btn-table {
    /* border: 1px solid black; */
    width: 24rem;
    height: 28rem;
    text-align: center;
    font-size: 2.5rem;
}

.material-icons {
    font-size: 2.5rem;
}

td {
    width: 25%;
    height: auto;
    background-color: #908e8e;
    color: whitesmoke;
    border-radius: 10px;
    font-family: monospace;
}

td:hover {
    cursor: pointer;
}

td:active {
    transform: scale(0.9);
}

.black-color {
    background-color: #2d3436;
}

.orange-color {
    background-color: #e17055;
}
